{% load static %}
{% include 'base.html' %}
{% load widget_tweaks %}

{% block title %}
<title>Complete Profile | SIH</title>
{% endblock title %}



{% block css %}
<link href="{% static '/css/completeProfile.css' %}" rel="stylesheet">
{% endblock css %}


{% block body %}

  <!-- Header section same as the other pages -->
  <header class="row">
    <nav class="col-12 p-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Complete Profile</li>
      </ol>
    </nav>
  </header>
  <!-- End Header section -->

  <!-- Which form you are at  -->
  {% comment %} <div class="row position-relative mx-5 my-2">
    <div class="stick"></div>
    <div class="inside stick"></div>
    <div class="col-12 d-flex align-items-center justify-content-between p-0">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div> {% endcomment %}
  <!-- Which form you are at  End -->

  <!-- Register section  -->
  <section class="row completeProfileSection p-5 shadow">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="row">
        <div class="col-12 d-flex m-0 p-0">
          <p class="text-center h4 bg-primary text-white p-2 m-0 px-5">Complete Profile</p>
        </div>
      </div>
      <form class="row border shadow p-5" action="{% url 'completeProfile' %}" method="POST" style="background-color: #EFF4FF;" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        {% comment %} <div class="form-group mb-3">
          <label for="img">Profile Image</label>
          {% render_field form.img id="img" class="form-control"%}
        </div>
        <div class="form-group mb-3">
          <label for="user">User</label>
          {% render_field form.user id="user" class="form-control"%}
        </div>
        {% endcomment %}
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-success w-100">Submit</button>
        </div> 
      </form>
    </div>
  </section>
  <!-- End register section -->

  <!-- Footer  -->
  <Footer>

  </Footer>
  <!-- End Footer  -->
{% endblock body %}

{% block js %}
<script src="{% static '/js/completeProfile.js' %}"></script>
{% endblock js %}