{% include 'base.html' %}
{% load static %}

{% block title %} <title>Home | SIH</title> {% endblock title %}
{% block css%}
<style>
    .lang_pipe {
        background-color: rgb(6, 83, 87);

    }
</style>
{% endblock css%}
{% block body%}




<div class="container-fluid About_us m-5">

    <h3>About Us</h3>
    <div class=" row p-3 ">
        <div class="col-sm-6 col-sx-12 ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusantium nam aperiam necessitatibus,
            quod nihil. A aliquid ea ex dolores veniam ducimus totam rem beatae tempore sint, aspernatur harum non
            quasi necessitatibus magnam labore sapiente inventore. Vitae saepe optio adipisci natus facilis ipsa
            veniam? Molestiae illo minima consequuntur placeat possimus blanditiis. Nesciunt, aspernatur impedit.
            Praesentium aliquam odit incidunt dolorem voluptas. Maiores unde corrupti, nihil non ipsa optio et est
            enim fugiat dolorem animi magnam illo libero dolor! Laudantium aut enim numquam impedit ullam! Incidunt
            dolorem dolores perferendis dignissimos deserunt perspiciatis labore fuga aperiam, animi quos aliquam
            ex? Voluptatum explicabo consequatur, libero eligendi impedit ex soluta quaerat

        </div>
        <div class="col-sm-4 col-sx-12 mb-2">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>
        <hr>
        <h3>Our Mission</h3>
        <div class=" row p-3">
            <div class="col-sm-6 col-sx-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusantium nam aperiam
                necessitatibus,
                quod nihil. A aliquid ea ex dolores veniam ducimus totam rem beatae tempore sint, aspernatur harum
                non
                quasi necessitatibus magnam labore sapiente inventore. Vitae saepe optio adipisci natus facilis ipsa
                veniam? Molestiae illo minima consequuntur placeat possimus blanditiis. Nesciunt, aspernatur
                impedit.
                Praesentium aliquam odit incidunt dolorem voluptas. Maiores unde corrupti, nihil non ipsa optio et
                est
                enim fugiat dolorem animi magnam illo libero dolor! Laudantium aut enim numquam impedit ullam!
                Incidunt

                commodi quibusdam! Cumque libero quibusdam repudiandae eius adipisci tempore cum molestiae porro,

            </div>
            <div class="col-sm-4 col-sx-12">
                <img style="height:250px;width:500px" src="../img/Mission.jpg" alt="">
            </div>

        </div>
    </div>











    <!--Footer-->
    <footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>

            <div>
                <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                    <i class="fab fa-mail"></i>
                </a>
                <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                    <i class="fab fa-home"></i>
                </a>
            </div>

        </section>
        <!--Lower footer-->
        <div class="container-fluid ">
            <div class="row d-flex p-0 m-0">

                <div class="col-sm-4 col-SX-12 align-items-center justify-content-center">
                    <div class="single_ftr">
                        <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                        <!-- <ul> -->
                        <ul>
                            <li> <span>Agriculture</span> </li>
                            <li> <span>Education</span> </li>
                            <li> <span>Environment &amp; Forest</span> </li>
                            <li> <span>Health &amp; Family Welfare</span> </li>
                            <li> <span>Food and &amp; Public Distribution</span> </li>
                            <li> <span>Health &amp; Family Welfare</span> </li>
                            <li> <span>Housing</span> </li>
                            <li> <span>Rural Development</span> </li>
                            <li> <span>Labour &amp; Employment</span> </li>
                            <li> <span>Science &amp; Technology</span> </li>
                        </ul>
                        <!-- </ul> -->
                    </div>
                </div>
                <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                 
                        <div class="single_ftr">
                            <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">About us</h4>
    
                            <p>Contact us</p>
                            <p>Feedback</p>
                            <p> FAQ</p>
                            <p>Help</p>
                            <p>Terms & Condition</p>
                            <p>< Website Policy</p>
                           
                        </div> <div class="single_ftr">
                            <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Contact us</h4>
    
                            <p><i class="fas fa-home mr-3"></i> Chhattisgarh, 495009</p>
                            <p><i class="fas fa-envelope mr-3"></i> Info@example.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +0123456789</p>
                            <p><i class="fas fa-print mr-3"></i> +0123456789</p>
                          
                           
                        </div>
                    </div>
                   
                </div>
                <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                    <div class="single_ftr">
                        <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Location</h4>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                            style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </div>
        </section>

        <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                            Bilaspur (C.G.)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock body %}