{% include 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {%% block tittle %%} <title>Home | SIH</title> {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    {% block css%}
    {% endblock css%}
</head>
{% block body%}
<body class="container-fluid">
    <!--Help-->
    <div class="container-fluid">
        <div class="p-3 container-fluid stats">
            <section>
                <div class="justify-content-center align item center">
                    <h2 style="text-align:center;">योजना के अनुसार हेल्पलाइन नंबर</h2>
                    <h2 style="text-align:center;">Scheme wise Helpline number</h2>
                </div>
            </section>
            <section class="border border-3 border-dark border-shadow-3 mt-3">
            <nav class="navbar bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand"></a>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            <table class="table mt-0">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Sr.N0.</th>
                        <th scope="col">Scheme Name</th>
                        <th scope="col">Nodal Officer Name/Designation</th>
                        <th scope="col">Nodal Officer Contact Detail</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>
                            Atal Awas Yojna
                        </td>
                        <td>
                            Karn
                            <br>
                            <br>
                            Doctor
                        </td>
                        <td>
                            abs@gmail.com
                            <br>
                            <br>
                            9900990099
                        </td>

                    </tr>


                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination mt-3 mb-3">
                  <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </section>

        <!--Footer-->
        <footer class="footer_area ">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>

                <div>
                    <a href="https://www.facebook.com/karn.tiwari.503" target="_blank" title="Visit Our Facebook Page">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.facebook.com/karn.tiwari.503" target="_blank"
                        title="Visit Our Facebook Page "><img src="" alt="Facebook Icon"></a>
                    <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                        <i class="fab fa-mail"></i>
                    </a>
                    <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                        <i class="fab fa-home"></i>
                    </a>
                </div>

            </section>
            <!--Lower footer-->
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single_ftr">
                            <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Jan Swayam Kalyan Portal</h4>
                            <div class="newsletter_form">
                                <p> The vision of our website(Jan Swayam Kalyan Portal) is to help and aware the
                                    beneficiary(poor and deprived section of the society), mainly
                                    the rural population and using our website deprived people can get benefit from
                                    schemes
                                    more easily and
                                    effectively. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="row justify-content-center d-flex">
                            <div class="col-sm-6 col-xs-12 align-items-center justify-content-center">
                                <div class="single_ftr">
                                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                                    <!-- <ul> -->
                                    <ul>
                                        <li><a href="/topics/agriculture" role="link">Agriculture</a></li>
                                        <li><a href="/topics/education" role="link">Education</a></li>
                                        <li><a href="/topics/environment-forest" role="link">Environment
                                                &amp; Forest</a></li>
                                        <li><a href="/topics/food-public-distribution" role="link">Food
                                                &amp; Public Distribution</a></li>
                                        <li><a href="/topics/health-family-welfare" role="link">Health &amp;
                                                Family Welfare</a></li>
                                        <li><a href="/topics/housing" role="link">Housing</a></li>
                                        <li><a href="/topics/home-affairs-enforcement" role="link">Home
                                                Affairs &amp; Enforcement</a></li>
                                        <li><a href="/topics/labour-employment" role="link">Labour &amp;
                                                Employment</a></li>
                                        <li><a href="/topics/rural" role="link">Rural</a></li>
                                        <li><a href="/topics/science-technology" role="link">Science &amp;
                                                Technology</a></li>
                                    </ul>
                                    <!-- </ul> -->
                                </div>
                            </div>
                            <div class=" col-sm-6 col-xs-12 align-items-center justify-content-center">
                                <div class="single_ftr">
                                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Contact us</h4>

                                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                                    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
    </div>
    <div class="copy_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                        Bilaspur (C.G.)
                    </p>
                </div>
            </div>
        </div>
    </div>
    </footer>
    {% endblock body%}
    {%block js%}{% endblock js%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>