{% include 'base.html' %}
{% load static %}

{% block title %}<title>Home | SIH</title>{% endblock title %}

{% block body %}

<!--Slides-->
<div class="slider row">
    <div class="col-md-12">
        <div id="schemeCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for scheme in schemes %}
                {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="/media/{{scheme.img}}" class="d-block w-100" alt="{{scheme.name}}" height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="{% url 'scheme' scheme.id %}"
                            class="text-white text-decoration-none fw-bolder display-6">{{scheme.name}}</a>
                        <p>{{scheme.desc}}</p>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item" data-bs-interval="1000">
                    <img src="/media/{{scheme.img}}" class="d-block w-100" alt="{{scheme.name}}" height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="{% url 'scheme' scheme.id %}"
                            class="text-white text-decoration-none fw-bolder display-6">{{scheme.name}}</a>
                        <p>{{scheme.desc}}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#schemeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#schemeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- End Slides  -->

<!-- marquee  -->
<div class="row">
    <div class="col-md-12 px-5 bg-darkBlue text-white">
        <marquee behavior="scroll" direction="left" class="text-danger bg-white m-0 py-2 fw-bolder">
            <p>In May 2016, the Ministry of Petroleum and Natural Gas (MOPNG), introduced the ‘Pradhan Mantri Ujjwala
                Yojana’ (PMUY) as a flagship scheme with an objective to make clean cooking fuels such as LPG available
                to rural and deprived households which were otherwise using traditional cooking fuels such as firewood,
                coal, cow-dung cakes etc. Usage of conventional cooking fuels had detrimental impacts on rural women's
                health and the environment.
            </p>
        </marquee>
    </div>
</div>

<!-- about us  -->
<div class="row p-md-5 p-1 ">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">About Jan Swayam Kalyan Portal</p>
    </div>
    <div class="col-12 lead">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit officiis esse rem ullam iure, dolorem
            consequatur non omnis libero culpa maxime facere at sed modi voluptate quis nisi, beatae molestias ipsam
            facilis reprehenderit eos eius! Autem, distinctio ducimus, dignissimos ut molestias non pariatur quaerat
            veritatis, perspiciatis sequi laborum corrupti numquam.</p>
    </div>
</div>

<div class="row p-md-5 p-1  bg-lightRed">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Services We Provide</p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-3 p-md-5 p-1 ">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-clipboard-list display-4"></i>
                    <p class="fs-4 fw-bolder">Schemes</p>
                </div>
            </div>
            <div class="col-12 col-md-3 p-md-5 p-1 ">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-book display-4"></i>
                    <p class="fs-4 fw-bolder">Information of Schemes</p>
                </div>
            </div>
            <div class="col-12 col-md-3 p-md-5 p-1 ">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-shield display-4"></i>
                    <p class="fs-4 fw-bolder">Eligibility of Schemes</p>
                </div>
            </div>
            <div class="col-12 col-md-3 p-md-5 p-1 ">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-plane-departure display-4"></i>
                    <p class="fs-4 fw-bolder">Schemes Tracking</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row latest-notice p-md-5 p-1 ">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Latest Schemes</p>
    </div>
    <div class="col-12">
        <div class="row p-md-5 p-1  bg-white">
            <div class="list-group">
                {% for scheme in schemes %}
                <a href="{% url 'scheme' scheme.id %}"
                    class="col-12 col-md-6 list-group-item list-group-item-action border-bottom-blue mb-4"
                    aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 fw-bolder">{{scheme.name}}</h5>
                        <small>{{scheme.startDate}}</small>
                    </div>
                    <p class="mb-1">{{scheme.desc}}</p>
                    <small>{{scheme.department}}</small>
                </a>
                {% endfor %}
            </div>
            <div class="col-12">
                <a href="#" class="btn btn-red w-100 p-3 fw-bolder text-white text-center">
                    Load More
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row recent-activity p-md-5 p-1 ">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Recent Activity</p>
    </div>
    <div class="col-12">
        <div class="row">
            {% for scheme in aboutToLast %}
            <div class="col-12 col-md-4 bg-white">
                <div class="d-flex flex-column text-center px-3 py-4 justify-content-between" style="height: 100%;">
                    <img src="/media/{{scheme.img}}" alt="{{scheme.name}}">
                    <p class="fs-4 fw-bolder p-3 bg-darkBlue text-white">{{scheme.desc}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row statistics p-md-5 p-1  bg-lightRed">
    <div class="col-12">
        <p class="display-6 fw-bolder p-y-2 px-3 m-0">Statistics</p>
    </div>
    <div class="col-12">
        <div class="row gx-5 text-center">
            <div class="col-12 col-md-4 p-md-5 p-1 ">
                <div class="d-flex flex-column border p-md-5 p-1  bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Users</p>
                    <p class="fw-bolder fs-1 text-red">{{total_user}}</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-md-5 p-1 ">
                <div class="d-flex flex-column border p-md-5 p-1  bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Schemes</p>
                    <p class="fw-bolder fs-1 text-red">{{total_schemes}}</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-md-5 p-1 ">
                <div class="d-flex flex-column border p-md-5 p-1  bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Benefitted</p>
                    <p class="fw-bolder fs-1 text-red">{{total_benefitted}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                <i class="fab fa-mail"></i>
            </a>
            <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                <i class="fab fa-home"></i>
            </a>
        </div>

    </section>
    <!--Lower footer-->
    <div class="container-fluid ">
        <div class="row d-flex p-0 m-0">

            <div class="col-sm-4 col-SX-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                    <!-- <ul> -->
                    <ul>
                        <li> <span>Agriculture</span> </li>
                        <li> <span>Education</span> </li>
                        <li> <span>Environment &amp; Forest</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Food and &amp; Public Distribution</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Housing</span> </li>
                        <li> <span>Rural Development</span> </li>
                        <li> <span>Labour &amp; Employment</span> </li>
                        <li> <span>Science &amp; Technology</span> </li>
                    </ul>
                    <!-- </ul> -->
                </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
             
                    <div class="single_ftr">
                        <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">About us</h4>
                        <p>Contact us</p>
                        <p>Feedback</p>
                        <p> FAQ</p>
                        <p>Help</p>
                        <p>Terms & Condition</p>
                        <p> Website Policy</p>
                    </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Location</h4>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                        style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
    </section>

    <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                        Bilaspur (C.G.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock body %}