{% include 'base.html' %}
{% load static %}

{% block title %}<title>Home | SIH</title>{% endblock title %}

{% block body %}

<!--Slides-->
<div class="slider row">
    <div class="col-md-12">
        <div id="schemeCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#schemeCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for scheme in schemes %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="/media/{{scheme.img}}" class="d-block w-100" alt="{{scheme.name}}" height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{scheme.name}}</h5>
                        <p>{{scheme.desc}}</p>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    <img src="/media/{{scheme.img}}" class="d-block w-100" alt="{{scheme.name}}" height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{scheme.name}}</h5>
                        <p>{{scheme.desc}}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#schemeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#schemeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- End Slides  -->

<!-- marquee  -->
<div class="row">
    <div class="col-md-12 px-5 bg-darkBlue text-white">
        <marquee behavior="scroll" direction="left" class="text-danger bg-white m-0 py-2 fw-bolder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cumque tempora totam, cupiditate magni
                alias excepturi minus iure praesentium corporis dolor eligendi ullam harum. Id ullam at cum? Excepturi
                unde officia explicabo perspiciatis facilis a fuga laboriosam? Nemo iusto, minima repudiandae nobis
                error libero? Rerum voluptatibus pariatur ab neque molestias?
            </p>
        </marquee>
    </div>
</div>

<!-- about us  -->
<div class="row p-5">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">About Jan Swayam Kalyan Portal</p>
    </div>
    <div class="col-12 lead">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit officiis esse rem ullam iure, dolorem
            consequatur non omnis libero culpa maxime facere at sed modi voluptate quis nisi, beatae molestias ipsam
            facilis reprehenderit eos eius! Autem, distinctio ducimus, dignissimos ut molestias non pariatur quaerat
            veritatis, perspiciatis sequi laborum corrupti numquam.</p>
    </div>
</div>

<div class="row p-5 bg-lightRed">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Services We Provide</p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-3 p-5">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-clipboard-list display-4"></i>
                    <p class="fs-4 fw-bolder">Schemes</p>
                    <a href="#" class="btn btn-danger">Open</a>
                </div>
            </div>
            <div class="col-12 col-md-3 p-5">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-book display-4"></i>
                    <p class="fs-4 fw-bolder">Information of Schemes</p>
                    <a href="#" class="btn btn-danger">Open</a>
                </div>
            </div>
            <div class="col-12 col-md-3 p-5">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-shield display-4"></i>
                    <p class="fs-4 fw-bolder">Eligibility of Schemes</p>
                    <a href="#" class="btn btn-danger">Open</a>
                </div>
            </div>
            <div class="col-12 col-md-3 p-5">
                <div class="d-flex flex-column bg-white text-center border px-3 py-4 justify-content-between"
                    style="height: 100%;">
                    <i class="fa-solid fa-plane-departure display-4"></i>
                    <p class="fs-4 fw-bolder">Schemes Tracking</p>
                    <a href="#" class="btn btn-danger">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row latest-notice p-5">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Latest Schemes</p>
    </div>
    <div class="col-12">
        <div class="row p-5 bg-white">
            <div class="col-md-6 col-12">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4"
                        aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>And some small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4"
                        aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small>And some small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action border-bottom-blue mb-4">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <a href="#" class="btn btn-red w-100 p-3 fw-bolder text-white text-center">
                    Load More
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row recent-activity p-5">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Recent Activity</p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4 bg-white">
                <div class="d-flex flex-column text-center px-3 py-4 justify-content-between" style="height: 100%;">
                    <img src="https://source.unsplash.com/random?village" alt="#">
                    <p class="fs-4 fw-bolder p-3 bg-darkBlue text-white">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Eveniet,
                        amet.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 bg-white">
                <div class="d-flex flex-column text-center px-3 py-4 justify-content-between" style="height: 100%;">
                    <img src="https://source.unsplash.com/random?village" alt="#">
                    <p class="fs-4 fw-bolder p-3 bg-darkBlue text-white">Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit.
                        Dignissimos,
                        sit?</p>
                </div>
            </div>
            <div class="col-12 col-md-4 bg-white">
                <div class="d-flex flex-column text-center px-3 py-4 justify-content-between" style="height: 100%;">
                    <img src="https://source.unsplash.com/random?village" alt="#">
                    <p class="fs-4 fw-bolder p-3 bg-darkBlue text-white">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Officiis,
                        natus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row statistics p-5 bg-lightRed">
    <div class="col-12">
        <p class="display-6 fw-bolder p-y-2 px-3 m-0">Statistics</p>
    </div>
    <div class="col-12">
        <div class="row gx-5 text-center">
            <div class="col-12 col-md-4 p-5">
                <div class="d-flex flex-column border p-5 bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Users</p>
                    <p class="fw-bolder fs-1 text-red">0000</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-5">
                <div class="d-flex flex-column border p-5 bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Schemes</p>
                    <p class="fw-bolder fs-1 text-red">0000</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-5">
                <div class="d-flex flex-column border p-5 bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Benefitted</p>
                    <p class="fw-bolder fs-1 text-red">0000</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="row p-5 bg-darkBlue text-white">
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                <p class="fw-bolder fs-4">Important links</p>
            </div>
            <ul class="col-12 col-md-6 list-unstyled">
                <li><a href="#">Agriculture</a></li>
                <li><a href="#">Forestry</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
            <ul class="col-12 col-md-6 list-unstyled">
                <li><a href="#">Agriculture</a></li>
                <li><a href="#">Forestry</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms and conditions</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6"></div>
</footer>
{% endblock body %}