.completeProfileSection {
  background-image: url("https://source.unsplash.com/random?land");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.stick {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 2.5%;
  width: 95%;
  height: 20px;
  background-color: gray;
  z-index: -2;
}

.inside {
  z-index: -1;
  background-color: green;
  width: 0;
}

.completed-circle {
  background-color: green;
  position: relative;
}

.completed-circle::after {
  content: "\2713";
  position: absolute;
  font-weight: 900;
  font-size: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: darkgoldenrod;
}