* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #F5F5F5;
}

/*######################## Background color classes #######################*/
.bg-red{
  background-color: #e20a4a;
  color : white;
}

.bg-lightBlue{
  background-color: #a6aaee;
}

.bg-blue{
  background-color: #3b447a;
}

.bg-darkBlue{
  background-color: #3b447a;
  color : white;
}

.bg-lightWhite{
  background-color: #d9d9d9;
}

.bg-lightRed{
  background-color: #deacb9;
}

/*######################## Font color classes #######################*/
.text-darkBlue{
  color: #222b5f;
}

.text-red{
  color: #e20a4a;
}

/*######################## border classes #######################*/
.border-bottom-blue{
  border-bottom: 15px solid #A6AAEECC;
}

/*######################## Button classes #######################*/
.btn-red{
  background-color : #e20a4a;
  color : white;
}
.btn-red:hover{
  background-color: #f03f74;
}

.btn-red-outlined{
  background-color: transparent;
  border: 1px solid #e20a4a;
  color: #e20a4a;
}

.btn-red-outlined:hover{
  background-color: #e20a4a;
  color: white;
}

/*######################## Utility classes #######################*/
.singleCenter{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*######################## HOMEPAGE #######################*/
footer a{
  text-decoration: none;
  color: white;
}

.backToTop{
  position : fixed;
  top : 50%;
  z-index: 100;
  right : 10px;
  top : 85vh;
  width : 50px;
  height : 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-decoration: none;
  padding : 0;
}

.statistics *{
  height: 100%;
}