{% extends 'base.html' %}

{% block title %}<title>Password Reset | SIH</title>{% endblock title %}

{% block body %}
<section class="row">
  <div class="col-12">
    <h1 class="text-center">Forgot your password?</h1>
    <p>Enter your email below and we will email instructions to set up a new password.</p>
  </div>

  <form class="col-12" method="POST">
    {% csrf_token %}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</section>
{% endblock body %}