{% include 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Create Scheme</title>
{% endblock title %}


{% block body %}

<!-- Header section same as the other pages  -->
<header class="row">
  <nav class="col-12 p-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Scheme</li>
    </ol>
  </nav>
</header>
<!-- End Header section -->

<section class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p class="display-4 fw-bolder">Add Scheme</p>
      </div>
    </div>
    <form action="{% url 'addScheme' %}" method="POST" class="row shadow p-5" enctype="multipart/form-data"
      style="background-color: #EFF4FF;">
      {% csrf_token %}
      <div class="col-12 col-md-6 row">
        <h1>Scheme Details</h1>
        <div class="form-group mb-3 col-12">
          <label for="name">Name</label>
          {% render_field form.name type="text" id="name" class="form-control" placeholder="Enter name of Scheme"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="desc">Description</label>
          {% render_field form.desc id="desc" class="form-control" placeholder="Enter description of Scheme"%}
        </div>
        <div class="form-group mb-3 col-6">
          <label for="sdate">Start Date</label>
          {% render_field form.startDate type="date" id="sdate" class="form-control" placeholder="Enter Start date"%}
        </div>
        <div class="form-group mb-3 col-6">
          <label for="edate">End Date</label>
          {% render_field form.endDate type="date" id="edate" class="form-control" placeholder="Enter End date"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="img">Image</label>
          {% render_field form.img type="file" id="img" class="form-control"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="department">Department</label>
          {% render_field form.department type="text" id="department" class="form-control" placeholder="Select department for scheme"%}
        </div>
      </div>
      <div class="col-12 col-md-6 row">
        <h1>Eligibility</h1>
        <div class="form-group mb-3 col-12">
          <label for="state">State</label>
          {%render_field form.state type="text" id="state" class="form-control" placeholder="Enter state"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="district">District</label>
          {%render_field form.district type="text" id="district" class="form-control" placeholder="Enter district"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="age_min">Min age</label>
          {%render_field form.age_min type="number" id="age_min" class="form-control" placeholder="Enter minimum age"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="name">Max age</label>
          {% render_field form.age_max type="number" id="name" class="form-control" placeholder="Enter maximum age"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="category">Category</label>
          {% render_field form.category type="text" id="category" class="form-control" placeholder="Enter category"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="income_min">Min Income</label>
          {% render_field form.income_min type="number" id="income_min" class="form-control" placeholder="Enter minimum income"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="income_max">Max Income</label>
          {% render_field form.income_max type="number" id="income_max" class="form-control" placeholder="Enter maximum income"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="gender">Gender</label>
          {% render_field form.gender type="text" id="gender" class="form-control" placeholder="Enter Gemder"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="occupation">Occupation</label>
          {% render_field form.occupation type="text" id="occupation" class="form-control" placeholder="Enter occupation"%}
        </div>
        <div class="form-group mb-3 col-12">
          <label for="qualification">Qualification</label>
          {% render_field form.qualification type="text" id="qualification" class="form-control" placeholder="Enter qualification"%}
        </div>
      </div>
      <div class="form-group mb-3 col-8">
        <label for="captcha">Captcha</label>
        {% render_field form.captcha type="text" id="captcha" class="form-control" placeholder="Enter Captcha"%}
      </div>
      {% comment %} {{form.as_p}} {% endcomment %}
      <div class="form-group mb-3 col-4 d-flex align-items-end">
        <button type="button" class="btn btn-primary w-100">Refresh</button>
      </div>
      <div class="form-group mb-3 col-12">
        <button type="submit" class="btn btn-success w-100">Create</button>
      </div>
    </form>
  </div>
</section>
{% endblock body %}