{% include 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="bg-darkBlue py-4">
          <tr>
            <th>Scheme ID</th>
            <th>Image</th>
            <th>Description</th>
            <th>Read more</th>
          </tr>
        </thead>
        <tbody class="bg-lightBlue">
          {% for scheme in object_list %}
          <tr>
            <th>{{scheme.id}}</td>
            <td><img src="{{scheme.img.url}}" alt="{{scheme.name}}" width="200px"></td>
            <td>
              <div class="d-flex flex-column">
                <p class="display-6 fw-bolder">{{scheme.name}}</p>
                <p>{{scheme.desc}}</p>
              </div>
            </td>
            <td>
              <a href="{% url 'scheme' scheme.id %}" class="btn btn-red m-3">Know more</a>
              <a href="{% url 'schemeRegistration' scheme.id %}" class="btn btn-red-outlined m-3">Register</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}