{% include 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} <title>Home | SIH</title> {% endblock title %}
{% block css %}
<style>
    table tbody tr {
        vertical-align: middle;
    }
</style>
{% endblock css %}
{% block body%}

<div class="row p-md-5 p-1 ">
    <div class="col-12">
        <p class="display-6 fw-bolder text-darkBlue">Schemes</p>
        <p class="fw-bolder">We provide you number of schemes to benefit you as per your requirment.</p>
    </div>
</div>

<div class="row filterRow p-md-5 p-1 ">
    <div class="col-12 col-md-8">
        <form action="{% url 'schemes'%}" method="get" class="position-relative mb-3 shadow rounded-pill">
            <input type="text" name="search" id="search" class="form-control rounded-pill"
                placeholder="search scheme names">
            <button type="submit" class="btn-red btn position-absolute top-0 end-0 rounded-pill"><i
                    class="fa-solid fa-search"></i></button>
        </form>
    </div>

    <div class="col-12 col-md-4 singleCenter">
        <button class="customDropdownBtn shadow btn text-red border border-2 fw-bolder px-5">Filter
            &triangledown;</button>
    </div>
    <div class="customDropdown col-12 mt-3 d-none">
        <form action="{% url 'schemes' %}" method="get" class="row g-4">
            <div class="form-check col-12 col-md-4 mb-3 px-5 ">
                <div class="d-flex align-items-center justify-content-between border-bottom px-2">
                    <label for="sorted">A-Z</label>
                    <input type="checkbox" name="sorted" id="sorted" class="form-check-input">
                </div>
            </div>
            <div class="form-check col-12 col-md-4 mb-3 px-5 ">
                <div class="d-flex align-items-center justify-content-between border-bottom px-2">
                    <label for="recent">Recently Added</label>
                    <input type="checkbox" name="recent" id="recent" class="form-check-input">
                </div>
            </div>
            <div class="form-check col-12 col-md-4 mb-3 px-5 ">
                <div class="d-flex align-items-center justify-content-between border-bottom px-2">
                    <label for="trending">Trending</label>
                    <input type="checkbox" name="trending" id="trending" class="form-check-input">
                </div>
            </div>
            <div class="form-group col-12 col-md-4 mb-3 px-5 ">
                <div class="d-flex align-items-center justify-content-between border-bottom px-2">
                    <select name="department" id="department" class="form-control">
                        <option value="">Select Department</option>
                        <option value="a">A</option>
                        <option value="a">A</option>
                        <option value="a">A</option>
                        <option value="a">A</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-4 offset-md-8 mb-3">
                <button type="reset" class="btn btn-red-outlined px-5">Cancel</button>
                <button type="submit" class="btn-red btn px-5">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="row p-md-5 p-1 ">
    <div class="col-12 border">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-darkBlue py-4">
                    <tr>
                        <th>Scheme ID</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Read more</th>
                    </tr>
                </thead>
                <tbody class="bg-lightBlue">
                    {% for scheme in object_list %}
                    <tr>
                        <th>{{scheme.id}}</td>
                        <td><img src="{{scheme.img.url}}" alt="{{scheme.name}}" width="200px"></td>
                        <td>
                            <div class="d-flex flex-column">
                                <p class="display-6 fw-bolder">{{scheme.name}}</p>
                                <p>{{scheme.desc}}</p>
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'scheme' scheme.id %}" class="btn btn-red me-3">Know more</a>
                            <a href="{% url 'schemeRegistration' scheme.id %}" class="btn btn-red-outlined">Register</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Footer-->
<footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                <i class="fab fa-mail"></i>
            </a>
            <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                <i class="fab fa-home"></i>
            </a>
        </div>

    </section>
    <!--Lower footer-->
    <div class="container-fluid ">
        <div class="row d-flex p-0 m-0">

            <div class="col-sm-4 col-SX-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                    <!-- <ul> -->
                    <ul>
                        <li> <span>Agriculture</span> </li>
                        <li> <span>Education</span> </li>
                        <li> <span>Environment &amp; Forest</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Food and &amp; Public Distribution</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Housing</span> </li>
                        <li> <span>Rural Development</span> </li>
                        <li> <span>Labour &amp; Employment</span> </li>
                        <li> <span>Science &amp; Technology</span> </li>
                    </ul>
                    <!-- </ul> -->
                </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
             
                    <div class="single_ftr">
                        <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">About us</h4>
                        <p>Contact us</p>
                        <p>Feedback</p>
                        <p> FAQ</p>
                        <p>Help</p>
                        <p>Terms & Condition</p>
                        <p> Website Policy</p>
                    </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Location</h4>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                        style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
    </section>

    <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                        Bilaspur (C.G.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock body %}

{% block js %}
<script>
    $(".customDropdownBtn").click(function () {
        $(".customDropdown").toggleClass("d-none");
    })
</script>
{% endblock js %}