{% include 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block tittle %} <title>Home | SIH</title> {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    {% block css%}
    <style>
        .lang_pipe{
            background-color:rgb(6, 83, 87);

        }
       
    </style>
    {% endblock css%}
</head>
{% block body%}


<div class="container-fluid Schemes_section d-flex justify-content-center">
    <span class="p-md-5 p-1  text-center">
        <h1>Check Your Eligibility</h1>
        <h5>By Adhaar Number</h5>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                aria-label="Danger striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>

    </span>
</div>

<form class="row g-3 m-3">
    <div class="col-auto" style="font-weight:bold;">
        <label for="staticAdhaarNumber" class="visually-hidden " > Adhaar Number</label>
        <input type="text" readonly class="form-control-plaintext fw-bold fs-4" id="staticAdhaarNumber" value="Adhaar Number">
    </div>
    <div class="col-auto">
        <label for="inputAdhaarNumber" class="visually-hidden">Adhaar Number</label>
        <input type="AdhaarNumber" class="form-control" id="inputAdhaarNumber" placeholder="Adhaar Number">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-dark mb-3">Submit</button>
    </div>
</form>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <!-- Default dropend button -->
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Filter by
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>

            </ul>
        </div>


        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>

<div style="overflow:scroll; height:50rem;" class="container-fluid eligibility_check">
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-header bg-warning">
            Depart Name
        </div>
        <div class="card-body">
            <h5 class="card-title">Scheme name</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>

</div>





        <!--Footer-->
        <footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
    
                <div>
                    <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                        <i class="fab fa-mail"></i>
                    </a>
                    <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                        <i class="fab fa-home"></i>
                    </a>
                </div>
    
            </section>
            <!--Lower footer-->
            <div class="container-fluid ">
                <div class="row d-flex p-0 m-0">
    
                    <div class="col-sm-4 col-SX-12 align-items-center justify-content-center">
                        <div class="single_ftr">
                            <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                            <!-- <ul> -->
                            <ul>
                                <li> <span>Agriculture</span> </li>
                                <li> <span>Education</span> </li>
                                <li> <span>Environment &amp; Forest</span> </li>
                                <li> <span>Health &amp; Family Welfare</span> </li>
                                <li> <span>Food and &amp; Public Distribution</span> </li>
                                <li> <span>Health &amp; Family Welfare</span> </li>
                                <li> <span>Housing</span> </li>
                                <li> <span>Rural Development</span> </li>
                                <li> <span>Labour &amp; Employment</span> </li>
                                <li> <span>Science &amp; Technology</span> </li>
                            </ul>
                            <!-- </ul> -->
                        </div>
                    </div>
                    <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                     
                            <div class="single_ftr">
                                <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">About us</h4>
        
                                <p>Contact us</p>
                                <p>Feedback</p>
                                <p> FAQ</p>
                                <p>Help</p>
                                <p>Terms & Condition</p>
                                <p>< Website Policy</p>
                               
                            </div> <div class="single_ftr">
                                <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Contact us</h4>
        
                                <p><i class="fas fa-home mr-3"></i> Chhattisgarh, 495009</p>
                                <p><i class="fas fa-envelope mr-3"></i> Info@example.com</p>
                                <p><i class="fas fa-phone mr-3"></i> +0123456789</p>
                                <p><i class="fas fa-print mr-3"></i> +0123456789</p>
                              
                               
                            </div>
                        </div>
                       
                    </div>
                    <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                        <div class="single_ftr">
                            <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Location</h4>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                                style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
    
                </div>
            </div>
            </section>
    
            <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                                Bilaspur (C.G.)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock body%}
    {%block js%}{% endblock js%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>