{% include 'base.html' %}
{% load static %}

{% block title %} <title>Home | SIH</title> {% endblock title %}
{% block css%}
{% endblock css%}


{% block body%}

<div class="row p-md-5 p-1 ">
    <div class="col-12 col-sm-6 col-md-4">
        <img src="{{object.img.url}}" alt="{{object.name}}" class="img-fluid">
    </div>
    <div class="col-12 col-sm-6 col-md-8">
        <p class="display-4 fw-bolder text-capital">{{object.name}}</p>
        <p class="text-red">Total Registered User : {{total_registered}}</p>
        <p class="text-red">Total Benefitted User : {{total_benifitted}}</p>
    </div>
</div>

<div class="container-fluid Scheme_info w-75">
    <section class="border border-3 border-dark rounded-2 border-shadow-3 mt-3">
        <span class="text-secondary p-1">
            <h5>Important information about scheme</h5>
        </span>
        <table class="table mt-0">
           
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sr.N0.</th>
                    <th scope="col">Importants information</th>
        
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>
                         {{object.name}}
                        </td>
        
        
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        Total Registered benificiary : {{total_registered}}

                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        Total benificiary : {{total_benifitted}}
                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>
                      {{object.department}}
                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        {{object.description}}
                  </td>
        
        
                </tr>
        
                <tr>
                    <th scope="row">3</th>
                    <td>
                        {{object.duration}}

                    </td>
        
        
                </tr>
        
            </tbody>
        </table>
        <span class="text-secondary p-1">
            <h5>Conditions for getting benefits from Schemes</h5>
        </span>
        <table class="table mt-0">
           
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sr.N0.</th>
                    <th scope="col">Elgibility criteria</th>
        
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        The age of benificiary is between {{object.age_from}} and {{object.age_to}} years.
                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                       The category of benificiary is {{object.category}}
                    </td>
        
        
                </tr>
        
                <tr>
                    <th scope="row">3</th>
                    <td>
                        The gender of benificiary is {{object.gender}}                   
                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        The benificiary is from {{object.state}}

                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        The income of benificiary is between {{object.income_from}} and {{object.income_to}}

                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        The occupation of benificiary is {{object.occupation}}
                    </td>
        
        
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        The qualification of benificiary is {{object.qualification}}
                    </td>
        
        
                </tr>
        
                
        
            </tbody>
        </table>
 
    
    <span class="text-secondary p-1">
        <h5>How to apply for the Scheme</h5>
    </span>
    <table class="table mt-0">
       
        <thead class="table-dark">
            <tr>
                <th scope="col">Form link</th>
                <th scope="col"></th>
    
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
               
                <td>
                    <a href="{{object.form_link}}" class="btn btn-warningzXz">Click here to apply</a>

                </td>
    
    
            </tr>
    
    
        </tbody>
    </table>
    </section>
    </div>
    

<!--Footer-->
<footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                <i class="fab fa-mail"></i>
            </a>
            <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                <i class="fab fa-home"></i>
            </a>
        </div>

    </section>
    <!--Lower footer-->
    <div class="container-fluid ">
        <div class="row d-flex p-0 m-0">

            <div class="col-sm-4 col-SX-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                    <!-- <ul> -->
                    <ul>
                        <li> <span>Agriculture</span> </li>
                        <li> <span>Education</span> </li>
                        <li> <span>Environment &amp; Forest</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Food and &amp; Public Distribution</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Housing</span> </li>
                        <li> <span>Rural Development</span> </li>
                        <li> <span>Labour &amp; Employment</span> </li>
                        <li> <span>Science &amp; Technology</span> </li>
                    </ul>
                    <!-- </ul> -->
                </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
             
                    <div class="single_ftr">
                        <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">About us</h4>
                        <p>Contact us</p>
                        <p>Feedback</p>
                        <p> FAQ</p>
                        <p>Help</p>
                        <p>Terms & Condition</p>
                        <p> Website Policy</p>
                    </div>
            </div>
            <div class=" col-sm-4 col-sx-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Location</h4>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                        style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
    </section>

    <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                        Bilaspur (C.G.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock body %}
{% block js %}

{% endblock js%}