{% include 'base.html' %}
{% load static %}

{% block title %} <title>Home | SIH</title> {% endblock title %}
{% block css%}
<style>
    .lang_pipe {
        background-color: rgb(6, 83, 87);
    }
</style>
{% endblock css%}


{% block body%}

<div class="row statistics p-5 bg-lightRed">
    <div class="col-12">
        <p class="display-6 fw-bolder p-y-2 px-3 m-0">Statistics</p>
    </div>
    <div class="col-12">
        <div class="row gx-5 text-center">
            <div class="col-12 col-md-4 p-5">
                <div class="d-flex flex-column border p-5 bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Users Registered</p>
                    <p class="fw-bolder fs-1 text-red">{{total_registered}}</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-5">
                <div class="d-flex flex-column border p-5 bg-white">
                    <p class="fs-4 fw-bolder text-darkBlue">Total Benefitted</p>
                    <p class="fw-bolder fs-1 text-red">{{total_benefitted}}</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column p-5">
                <div class="d-flex flex-column border p-5 bg-white text-start">
                    <p class="fw-bolder text-darkBlue">Launch Date : {{object.startDate}}</p>
                    <p class="fw-bolder text-darkBlue">Ending on : {{object.endDate}}</p>
                    <a href="{% url 'schemeRegistration' object.id %}" class="btn btn-red">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 Schemes_section">
    <div class="p-5 border row">
        <h1 class="text-uppercase text-center display-1 fw-bolder">{{object.name}}</h1>
        <img src="{{object.img.url}}" alt="{{object.name}}" class="col-12 col-md-6 offset-md-3">
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                aria-label="Danger striped example" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
</div>
<div class="container-fluid Scheme_info w-75">
    <section class="border border-3 border-dark rounded-2 border-shadow-3 mt-3">
        <span class="text-secondary p-1">
            <h5>Conditions for getting benefits from Schemes</h5>
        </span>

        <table class="table mt-0">

            <thead class="table-dark">
                <tr>
                    <th scope="col">Sr.N0.</th>
                    <th scope="col">Elgibility criteria</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>

                        Applicant must have scored 70 percent in the Secondary Examinations, Senior Secondary, Upadhayay
                        exam(Sanskrit) and UG exam.
                    </td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        The annual income should be in the range {{scheme.income_min}}
                    </td>
                    <section class="border border-3 border-dark rounded-2 border-shadow-3 mt-3">
                        <span class="text-secondary p-1">
                            <h5>Conditions for getting benefits from Schemes</h5>
                        </span>
                        <table class="table mt-0">

                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Sr.N0.</th>
                                    <th scope="col">Elgibility criteria</th>

                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>

                                        Applicant must have scored 70 percent in the Secondary Examinations, Senior
                                        Secondary, Upadhayay
                                        exam(Sanskrit) and UG exam.

                                    </td>


                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        The annual income of the applicants parent should not exceed Rs. 35,000 from all
                                        sources.

                                    </td>


                                </tr>

                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        Applicant must be native resident of Chhattisgarh.

                                    </td>


                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        1400 Award Points are reserved for this scheme.
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <span class="text-secondary p-1">
                            <h5>Important documents for getting benefits from Schemes</h5>
                        </span>
                        <table class="table mt-0">

                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Sr.N0.</th>
                                    <th scope="col">Importants documents</th>

                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        Certified copy of the mark sheet of the previous exams.
                                    </td>


                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        Income Certificate.
                                    </td>


                                </tr>

                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        Admission form in the prescribed format, indicating date of admission.
                                    </td>


                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        Income of parents and students will be included for the purpose of income
                                        testing.
                                    </td>


                                </tr>

                                <tr>
                                    <th scope="row">5</th>
                                    <td>
                                        The student who is getting the scholarship will not be eligible for any other
                                        scholarship.
                                        Institution heads should not send such applications.
                                    </td>


                                </tr>
                            </tbody>
                        </table>

                        <span class="text-secondary p-1">
                            <h5>How to apply for the Scheme</h5>
                        </span>
                        <table class="table mt-0">

                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Form link</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>

                                    <td>
                                        humtumsathsath.com
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
</div>

<!--Footer-->
<footer style="color:white; background-color:rgb(37, 30, 30);" class="footer_area">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="https://www.facebook.com/karn.tiwari.503" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/karntiwari" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="karntiwari5353@gmail.com" class="me-4 text-reset">
                <i class="fab fa-mail"></i>
            </a>
            <a href="https://www.instagram.com/im_kt__/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/karn-tiwari/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Karn-Tiwari" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://goo.gl/maps/rRinpZKaNHND1HfZ7" class="me-4 text-reset">
                <i class="fab fa-home"></i>
            </a>
        </div>

    </section>
    <!--Lower footer-->
    <div class="container-fluid ">
        <div class="row d-flex p-0 m-0">
            <div class=" col-sm-4 col-sx-12">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Jan Swayam Kalyan Portal</h4>
                    <div class="newsletter_form">
                        <p>The purpose of the Jan Swayam Kalyan portal is to make the facility available to the
                            common beneficiary along with social audits. Through Jan Swayam Kalyan portal,
                            information and facilities should be made available to the common people the one click.
                            Jan Swayam Kalyan Portal is the first of its kind in which the People get awared and
                            benefited from upcoming all the schemes of government of India and they also tacked the
                            schemes in which they should be benifited.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Information Related To</h4>
                    <!-- <ul> -->
                    <ul>
                        <li> <span>Agriculture</span> </li>
                        <li> <span>Education</span> </li>
                        <li> <span>Environment &amp; Forest</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Food and &amp; Public Distribution</span> </li>
                        <li> <span>Health &amp; Family Welfare</span> </li>
                        <li> <span>Housing</span> </li>
                        <li> <span>Rural Development</span> </li>
                        <li> <span>Labour &amp; Employment</span> </li>
                        <li> <span>Science &amp; Technology</span> </li>
                    </ul>
                    <!-- </ul> -->
                </div>
            </div>
            <div class=" col-sm-2 col-sx-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Contact us</h4>

                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
            </div>
            <div class=" col-sm-3 col-sx-12 align-items-center justify-content-center">
                <div class="single_ftr">
                    <h4 class="sf_title" style="color:rgb(176, 149, 13) ;">Map</h4>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14798.159357363334!2d82.25754092906357!3d21.990617167763297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a27df43d039f359%3A0xee136f247dbaee86!2sKoni%2C%20Chhattisgarh%20495551!5e0!3m2!1sen!2sin!4v1650448027870!5m2!1sen!2sin"
                        style="width:100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
    </div>
    </section>
    </div>
    <div style="background-color:rgb(0, 0, 0); color:white" class="copy_area ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright_text text-center">Copyright @ 2021 Guru Ghasidas Vishwavidyalaya,
                        Bilaspur (C.G.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock body %}